DB_URL=postgresql://samuel456z_cse340:VEYgSt3q5NVlm74f6BNxEcKXsLbsFaUB@dpg-d964b3mq1p3s73bf2g8g-a.virginia-postgres.render.com/samuel456z_cse340
SESSION_SECRET=generate_with_node_-e_"console.log(require('crypto').randomBytes(64).toString('hex'))"
NODE_ENV=development
ENABLE_SQL_LOGGING=true
